*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}


body{
    min-height: 80vh;
    background: rgb(34, 34,65);
}
header{
    height: 20vh;
}

.container{
    position:relative;
    width: 100%;
    height: 100vh;
}

.bolhas{
    position: absolute;
    display:flex;
}

.bolhas span{
   
    width: 10px;
    height: 10px;
    background-color: #e5ff00;
    margin: 0 4px;
    border-radius: 50%;
    box-shadow: 0 0 0 10px #e5ff0044,
    0 0  540px #35381e,
    0 0  100px #e5ff00;
    animation: animar calc(250s / var(--i)) linear infinite;
}

@keyframes animar{
    0%{
        transform: translateY(100vh) scale(0);
    }

    100%{
        transform: translateY(-10vh) scale(1);
    }
}

.bolhas span:nth-of-type(even){
    background-color: rgb(46, 42, 53);
    box-shadow: 0 0 0 10px #eee44e,
    0 0  540px #eee44e,
    0 0  100px #eee44e;

    
}
