@import url('https://fonts.googleapis.com/css2?family=Jost&display=swap');

html, body{
    font-family: 'Jost', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding:0;
    height: 100%;
    width: 100%;
}

body{
    background-color: #29303b;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
    font-size: 1.5em;
    height: 100%;
    width:100%;
    color:whitesmoke;
}

.container{

    display:block;
    grid-template:  30vh 60vh 10vh/1fr 3fr;
    grid-template-areas:
     "h h" 
                          "a m" 
                             "f f" ;
    
                            
}
header{
    width: 100%;
    grid-area: h;
    background-image: url(img/nebula.jpg);
    background-size: cover;
    padding-bottom: 400px;
    display: block;
    border-bottom: 2px white solid;
}

main{
    color: black;
    height: 100%;
    grid-area: m;
    display: block;
}
aside{
    border: 2px black solid;
    color: black;
    position:fixed;
    background-color: #29303b63;
    height: 550px;
    width: 300px;
    top: 80px;
    grid-area: a;
}


.text{
    background-color: rgba(139, 139, 151, 0);
    max-width: 900px;
    margin-left: 25%;
    border-radius: 20px;

}
.text2{
    background-color: rgba(139, 139, 151, 0.541);
    max-width: 900px;
    margin-top:0;
    margin: 10% auto;
    padding:10px;
    border-radius: 20px;
}




.text h1{
    font-size: 1.5em;
}

.text p{
    text-align: justify;
    padding: 10px;
}

.text h3{
    font-size:1.1em;
}


/*configuração do titulo do site*/

.titulo {
    color: rgb(255, 255, 255);
    float: left;
    position: absolute;
    top: 50%;
    left: 25%;
}
.titulo h1{
    font-size: 100px;
}
.titulo h2 {
    font-size: 30px;
}

footer {
width: 100%;
grid-area: h;
background-size: cover;
display: block;
border-top: 2px white solid;
background-color: #26385c;
padding-bottom: 20px;
}

#nomes {
padding-left: 25%;
padding-bottom: 20px;
}


