@import url('https://fonts.googleapis.com/css2?family=Jost&display=swap');

html, body{
    font-family: 'Jost', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding:0;
    height: 100%;
    width: 100%;
}

body{
    background-color: #29303b;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
    font-size: 1.5em;
    height: 100%;
    width:100%;
    color:whitesmoke;
}

.container{

    display:block;
    grid-template:  30vh 60vh 10vh/1fr 3fr;
    grid-template-areas:
     "h h" 
                          "a m" 
                             "f f" ;
    
                            
}
header{
    width: 100%;
    grid-area: h;
    background-size: cover;
    padding-bottom: 600px;
    display: block;
    border-bottom: 2px white solid;
    background-image: url(img/cometa.jpg);
}

main{
    color: black;
    height: 100%;
    grid-area: m;
    display: block;
}
aside{
    border: 2px black solid;
    color: black;
    position:fixed;
    background-color: #29303b63;
    height: 600px;
    width: 300px;
    top: 80px;
    grid-area: a;
}

footer{
    height: 100%;
    grid-area:f;
}


.text{
    background-color: rgba(139, 139, 151, 0);
    max-width: 900px;
    margin-left: 10%;
    border-radius: 20px;

}
.text2{
    background-color: rgba(139, 139, 151, 0.541);
    max-width: 900px;
    margin-top:0;
    margin: 10% auto;
    padding:10px;
    border-radius: 20px;
}




.text h1{
    background-color: rgba(22, 22, 44, 0.2);
    text-align: center;
    color: rgb(0, 0, 0);
    text-shadow: 2px white solid;
    font-size: 2.5em;
  
}

.text p{
    text-align: justify;
    padding: 10px;
}

.text h3{
    font-size:1.2em;
}
h3 {
    padding-top: 12px;
}


/*configuração do titulo do site*/

.titulo {
    color: rgb(255, 255, 255);
    float: left;
    position: absolute;
    top: 45%;
    left: 10%;
}
.titulo h1{
    font-size: 70px;
}
.titulo h2 {
    font-size: 25px;
    margin-right: 35%;
}

#ie {
    float: left;
    padding-right: 15px;
}
#id {
    float: right;
    padding-left: 15px;
}

#telescopio {
    height: 40%;
    width: 40%;
    float: left;
    padding-right: 15px;
}

#isaac {
    height: 40%;
    width: 40%;
    float: left;
    padding-right: 15px;
}

#albert {
    height: 40%;
    width: 40%;
    float: right;
    padding-left: 15px;
}





